<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/d6637ebb-758c-4492-9b56-c80b4e8b21a2/resourceGroups/rg-rainbow-eastus-dev-001/providers/Microsoft.Web/sites/app-rainbow-eastus-dev-001</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://app-rainbow-eastus-dev-001-btgxcnb7apapcbgs.westeurope-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>c61315aa-fbc6-41c7-ade8-1f1697d02eae</ProjectGuid>
    <PublishUrl>https://app-rainbow-eastus-dev-001-btgxcnb7apapcbgs.scm.westeurope-01.azurewebsites.net/</PublishUrl>
    <UserName>$app-rainbow-eastus-dev-001</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>